---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Stigende forældrealdre">
	<article class="grid place-items-center mx-auto container pt-8 prose text-blackish" style="font-family: Helvetica, sans-serif;">
		<h1 class="text-2xl font-bold">GENNEMSNITSALDEREN FOR FØRSTEGANGSFORÆLDRE ER STEGET</h1>
		<img src="/ladies.jpg" alt="førstegangsforældre" class="w-[30%] pt-5">
	  <div class="mx-auto text-center">
		<h3 class="text-xl pt-5">Stigende forældrealdre: En tendens mod senere familiedannelse mellem 1960 og 2022</h3>
		<img src="/parentstats.svg" alt="Forældrestatistik" class="w-[60%] pt-10 mx-auto">
	  </div>
	  <div class="mx-auto ">
		<p class="text-lg max-w-[600px] pt-10 leading-7">Mellem 1960 og 2022 er gennemsnitsalderen for førstegangsfødende kvinder steget fra 23,1 år til 29,9 år, mens gennemsnitsalderen for alle fødende kvinder er gået op fra 27 år til 31,4 år. Fædres gennemsnitsalder er også steget i samme periode, fra omkring 28,4 år i 1980'erne til 33,5 år i 2022. Denne udvikling afspejler en tendens, hvor både kvinder og mænd i stigende grad venter længere, før de får børn.</p>
	  </div>
	</article>
  </MainLayout>
  
  

